body {
    padding: 20px;
    margin: auto;
    
}
img {
    width: 100%;
    border-radius: 10px;
}

p, li{
    font-size: 16px;
    color: hsl(30, 10%, 34%);
}
strong {
    color: black;
}
h2 {
    color: hsl(14, 45%, 36%);
}
h3 {
    color: hsl(332, 51%, 32%);
}
#time {
    background-color: hsl(335, 38%, 94%);
    padding: 10px 20px;
    border-radius: 5px;
}
li {
    line-height: 30px;
}
td {
  padding: 10px 0;
}
table {
    width: 100%;
   
    border-collapse: collapse;
}
tr {
  border-bottom: 1px solid #e0e0e0;
}

@media (min-width:700px) {

body {
    padding: 20px;
    max-width: 600px;
    
}
img {
    width: 100%;
    border-radius: 10px;
}

p, li{
    font-size: 16px;
    color: hsl(30, 10%, 34%);
}
strong {
    color: black;
}
h2 {
    color: hsl(14, 45%, 36%);
}
h3 {
    color: hsl(332, 51%, 32%);
}
#time {
    background-color: hsl(335, 38%, 94%);
    padding: 10px 20px;
    border-radius: 5px;
}
li {
    line-height: 30px;
}
td {
  padding: 10px 0;
}
table {
    width: 100%;
   
    border-collapse: collapse;
}
tr {
  border-bottom: 1px solid #e0e0e0;
}
}

@media (max-width: 600px) {
    body {
        min-width: 350px;
    }
}